.App {
    text-align: center;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.toggleButton {
    margin: 16px auto;
    background-color: lightgreen;
    color: black;
    font: inherit;
    border: 1px solid #eee;
    padding: 8px;
    cursor: pointer;
    outline: 0;
}

.toggleButton:hover {
    background-color: forestgreen;
    color: white;
}

.toggleButtonVisible {
    background-color: lightcoral;
}

.toggleButtonVisible:hover {
    background-color: darkred;
    color: white;
}
